@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    color: white;
}

.uppercase {
    text-transform: uppercase;
}

/*-------------------------------------------------------------------------Headings------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5 {
    font-family: "Righteous", sans-serif;
}

/*--------------------------------------------------------------------------------------Nav------------------------------------------------------------*/

.nav-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.logo {
    max-width: 2em;
    height: auto;
    opacity: 0.8;
    margin: 0.5rem;
    margin-left: 1rem;
}

.navbar {
    font-size: 110%;
    font-weight: 700;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);

    padding-bottom: 0;
    padding-top: 0;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 2rem;
}

.navbar .navbar-toggler {
    border: 0;
    margin-right: 0.5rem;
    color: #ED410B;
}

.navbar-toggler-icon {
    width: 1em;
    height: 1em;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: rgb(255, 123, 0);
}

.navbar-dark .navbar-nav .nav-link {
    padding-left: 1em;
    color: rgb(255, 255, 255);
}

/*------------------------------------------------------------------------------Hero img ----------------------------------------------------*/

.hero-img {
    height: 100vh;
    background: url("../images/heroimg.jpg") no-repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*---------------------------------------------------------------------------------Intro text---------------------------------------------*/

.intro-text {
    max-width: 740px;
    max-height: 300px;
    overflow: hidden;
    position: absolute;
    top: 150px;
    left: 0; 
    right: 0;
    margin: auto;
    background: rgba(5, 5, 5, 0.514);
    border: 2px solid rgba(237, 65, 11, 0.3);
    
  }

.intro-text h1 {
    font-size: 250%;
    padding: 10px 10px 0;
}

.intro-text p {
    font-size: large;
    padding: 5px 10px;
    margin: 0;
    display: inline-block;
}

.blockquote-footer {
    padding: 5px 0;
    margin-left: 0.5rem;
    color: #ED410B;
}



/*----------------------------------------------------------------Media queries -------------------------------------------------------------------*/


@media screen and (max-width: 500px) and (orientation: portrait) {
    .hero-img {
        height: 365px;
    }

    .intro-text {
        max-width: 60%;
        max-height: 250px;
        overflow: hidden;
        position: absolute;
        top: 100px;
        margin-left: 25px;
        background: transparent;
        border: none;
    }

    .intro-text h1 {
        font-size: 150%;
        padding: 0;
    }

    .intro-text p {
        font-size: small;
        padding: 0;
        margin: 0;
        display: inline-block;
    }
}

@media screen and (max-height: 500px) and (orientation: landscape) {
    .intro-text {
        max-width: 60%;
        max-height: 250px;
        overflow: hidden;
        position: absolute;
        top: 100px;
        margin-left: 25px;
        background: transparent;
        border: none;
    }

    .intro-text h1 {
        font-size: 150%;
        padding: 0;
    }

    .intro-text p {
        font-size: small;
        padding: 0;
        margin: 0;
        display: inline-block;
    }
}

@media screen and (min-width: 500px) and (max-width: 750px) {
    .intro-text {
        max-width: 90%;
    }
}