@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    color: white;

    /* hide scrollbar but allow scrolling ------https://blog.hubspot.com/website/hide-scrollbar-css----- */
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

.uppercase {
    text-transform: uppercase;
}

.highlight-text {
    font-weight: bold;
    color: #ED410B;
}

.wrapper {
    width: 90vw;
    margin: auto;
}


/*-------------------------------------------------------------------------Headings------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5 {
    font-family: "Righteous", sans-serif;
}

/*----------------------------------------------------------------------------------Break line--------------------------------------------------*/

.break-line,
.break-line-intro {
    margin: 0 auto 30px;
    width: 150px;
    background-color: #ED410B;
    height: 2px;
    border: none;
}



/*------------------------------------------------------------------------------------pop up forms --------------------------------------------------*/
.modal-header {
    background-color: #ED410B;
}

.modal-body {
    color: black;
}

/*-------------------------------------------------------------w3school.com---Btn to top -------------------------------*/

#myBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 5px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: darkgray;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0.3;
}

#myBtn:hover {
    background-color: #ED410B;
    opacity: 1;
}

/*--------------------------------------------------------------------------------------Nav------------------------------------------------------------*/

.nav-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.logo {
    max-width: 2em;
    height: auto;
    opacity: 0.8;
    margin: 0.5rem;
    margin-left: 1rem;
}

.navbar {
    font-size: 110%;
    font-weight: 700;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);

    padding-bottom: 0;
    padding-top: 0;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 2rem;
}

.navbar .navbar-toggler {
    border: 0;
    margin-right: 0.5rem;
    color: #ED410B;
}

.navbar-toggler-icon {
    width: 1em;
    height: 1em;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: rgb(255, 123, 0);
}

.navbar-dark .navbar-nav .nav-link {
    padding-left: 1em;
    color: rgb(255, 255, 255);
}

/*------------------------------------------------------------------------------Hero img ----------------------------------------------------*/

.hero-img {
    height: 100vh;
    background: url("../images/heroimg.jpg") no-repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*---------------------------------------------------------------------------------Intro text---------------------------------------------*/

.intro-text {
    max-width: 740px;
    max-height: 400px;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    background: rgba(5, 5, 5, 0.514);
    border: 2px solid rgba(237, 65, 11, 0.3);
    text-align: center;
}

.intro-text h1 {
    font-size: 250%;
    padding: 10px 10px 0;
}

.intro-text p {
    font-size: large;
    padding: 5px 10px;
    margin: 0;
    display: inline-block;
}

.blockquote-footer {
    font-size: large;
    font-weight: 300;
    padding: 5px 0;
    margin-left: 0.5rem;
    color: #ED410B;
}

.btn-newsletter,
.contact-form-btn {
    padding: 5px 15px;
    background-color: #ED410B;
    border: none;
    color: white;
    border-radius: 0;

}

.btn-newsletter:target,
.btn-newsletter:focus,
.btn-newsletter:hover,
.contact-form-btn:target,
.contact-form-btn:focus,
.contact-form-btn:hover {
    background-color: darkgray;
    color: white;
}

/*------------------------------------------------------------------------------New Releases-----------------------------------------------------*/
.new-release {
    background-color: rgba(1, 2, 4, 0.8);
}

.album-size {
    max-width: 300px;
}

.cont a {
    color: white;
}

.cont a:focus,
.cont a:hover,
.cont a:target {
    text-decoration: none;
    color: #ED410B;
}


/*-------------------------------------------------------------------------------------------media service / social media links ------------------------------------------*/

.media-library-links li,
.social-media-links li {
    padding: 0 15px 0;
}

.media-library-links a,
.social-media-links a {
    color: rgb(200, 200, 200);

    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.media-library-links li a:hover,
.social-media-links li a:hover {
    color: #e84610;
}

/*-----------------------------------------------------------------------------Bio--------------------------------------------------------*/

.bio {
    background: url("../images/bio-bg-img.jpg") no-repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bio-img {
    max-width: 600px;
    height: auto;
    max-height: 200px;
}

/*-------------------------------------------------------------------------------Events-----------------------------------------------------------*/

.events {
    background-color: rgba(1, 2, 4, 0.8)
}

.card {
    position: relative;
    border: 2px solid #fff;
    border-radius: 0;
    color: rgb(51, 51, 51);
}

.card-img {
    width: 100%;
    height: auto;
}

.event-price {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    z-index: 1;
    color: #b67232;
    font-size: xx-large;
    font-weight: 900;
}

.card-body a {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 0 10px 16px;

    text-decoration: none;
    color: rgb(51, 51, 51);

    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.card-body a:focus,
.card-body a:target,
.card-body a:hover {
    color: #ED410B;
    text-decoration: underline;
}

.link-upcoming-events {
    font-size: large;
    color: #fff;
    padding: 2px 4px;
}

.link-upcoming-events:focus,
.link-upcoming-events:target,
.link-upcoming-events:hover {
    text-decoration: none;
    color: #ED410B;
}

/*------------------------------------------------------------------------Gallery-----------------------------------------------------------------*/

.gallery {
    background: url("../images/gallery-bg.jpg") no-repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#photos {
    margin: auto;
    clear: none;
    column-count: 3;
    column-gap: 2px;
}

#photos img {
    margin: 2px 0;
    width: 100%;
    height: auto;
    border: 2px solid #fff;
}

/*--------------------------------------------------------------------Footer/ Contacts ---------------------------------------------------------------*/

.contacts {
    background-color: rgba(1, 2, 4, 0.8)
}

.contact-info-details {
    max-width: 300px;
}

.form-control {
    background-color: rgba(0, 0, 0, 0.34);
    border-radius: 0;
    border: none;
    color: rgb(255, 255, 255);
    margin: 0.5em 0;
    padding: 0.5em 1.5em;
}

.form-control:focus {
    background-color: rgba(0, 0, 0, 0.34);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 0 0.1rem #ff5000;
}

.contact-form-btn {
    border-radius: 0;
    border: none;
    background-color: #ED410B;
}



/*----------------------------------------------------------------Media queries -------------------------------------------------------------------*/

@media only screen and (max-width: 768px) {

    .video-cont-responsive,
    .video-cont-responsive iframe {
        min-width: 250px;
        max-width: 560px;
        min-height: 155px;
        max-height: 315px;

    }
}

@media only screen and (min-width: 768px) {

    .video-cont-responsive,
    .video-cont-responsive iframe {
        min-width: 450px;
        max-width: 560px;
        max-height: 315px;
    }
}


@media screen and (max-width: 500px) and (orientation: portrait) {
    .hero-img {
        height: 500px;
    }

    .break-line-intro {
        display: none;
    }

    .blockquote-footer {
        font-size: small;
        font-weight: 300;
    }

    .intro-text {
        max-width: 60%;
        max-height: 400px;
        overflow: hidden;
        position: absolute;
        top: 80px;
        left: 25px;
        margin: 0;
        background: transparent;
        border: none;
        text-align: justify;
    }

    .intro-text h1 {
        font-size: 150%;
        padding: 0;
        text-align: left;

    }

    .intro-text p {
        font-size: 80%;
        padding: 0;
        margin: 0;
        display: inline-block;
    }
}

@media screen and (max-height: 500px) and (orientation: landscape) {

    .break-line-intro {
        display: none;
    }

    .blockquote-footer {
        font-size: small;
        font-weight: 300;
    }

    .intro-text {
        max-width: 60%;
        max-height: 400px;
        overflow: hidden;
        position: absolute;
        top: 80px;
        left: 25px;
        margin: 0;
        background: transparent;
        border: none;
        text-align: justify;
    }

    .intro-text h1 {
        font-size: 150%;
        padding: 0;
        text-align: left;
    }

    .intro-text p {
        font-size: 80%;
        padding: 0;
        margin: 0;
        display: inline-block;
    }
}

@media screen and (min-width: 500px) and (max-width: 750px) {
    .intro-text {
        max-width: 90%;
    }
}


@media only screen and (max-width: 576px) {
    #photos {
        column-count: 1;
    }
}

@media only screen and (min-width: 576px) and (max-width: 992px) {
    #photos {
        column-count: 2;
    }
}

@media only screen and (min-width: 768px) {
    .contact-us {
        max-width: 60%;
        min-height: 250px;
    }
}

@media screen and (min-width: 1250px) {
    .wrapper {
        max-width: 1250px;
        margin: auto;
    }
}